<div class="product_cart_container">
  <div class="product_container">
    <h1>Desserts</h1>

    <ul class="dessert_container">
      @for (item of products; track $index) {
      <li>
        <div class="image_container">
          <div class="dessert_image">
            <img
              class="dessert mobile"
              [src]="item.image.mobile"
              alt="mobile desset image"
            />
            <img
              class="dessert tablet"
              [src]="item.image.tablet"
              alt="tablet desert image"
            />
            <img
              class="dessert desktop"
              [src]="item.image.desktop"
              alt="desktop desert image"
            />
          </div>
          <div
            class="cart"
            (click)="displayQuantityButton($index)"
            [ngClass]="this.item.isactive ? 'hidebutton' : 'displayButton'"
          >
            <img src="assets/images/icon-add-to-cart.svg" alt="cart icon" />
            Add to Cart
          </div>
          <div
            class="calculate_container"
            [ngClass]="this.item.isactive ? 'displayButton' : 'hidebutton'"
          >
            <div class="decrement" (click)="decrement($index)">
              <img
                src="assets/images/icon-decrement-quantity.svg"
                alt="decrement icon"
              />
            </div>
            <span> {{ item.quantity }} </span>
            <div class="increment" (click)="increment($index)">
              <img
                src="assets/images/icon-increment-quantity.svg"
                alt="increment icon"
              />
            </div>
          </div>
        </div>
        <div class="content">
          <h2>{{ item.category }}</h2>
          <h3>{{ item.name }}</h3>
          <h4>{{ item.price | currency : "USD" }}</h4>
        </div>
      </li>
      }
    </ul>
  </div>
  <app-cart [cartProduct]="cartItem"></app-cart>
</div>
